              <div class="mediathequeItem col-md-3">
                <!--<video width="320px" height="240px" muted controls hidden>
                  <source src="" alt="" type="video/mp4">
                  Description de la video
                </video>-->
                <a href="./cdoPage/"  class="linkArticle"  alt="link vers page de Présentation des prix aux vainqueurs">
                  <img src="./img/cdo.jpeg" alt="Cadeaux gagnés par les 3 vainqueurs du tournoi de poker"/>
                  <div class="container extract">
                    <h4><b>Cadeaux pour les 3 meilleurs joueurs</b></h4>
                    <p>
                      Erat et efficitur av<br>
                      27 juliminus 2022<br>
                      Quis facilisis dui vestibulum ov
                      Poldo Pedro roin mi placerat blandit sapien!<br>
                      Donec condimentum est a ipsum porta, pharetra 
                      condimentum quam pellentesque...
                  </div>
                </a>
              </div>