              <div class="mediathequeItem col-md-3">
                <!--<video width="320px" height="240px" muted controls>
                  <source src="./vid/winner.mp4" alt="Vainqueur du tournoi" type="video/mp4">
                  Présentation du vainqueur du dernier tournoi de poker.
                </video>-->
                <a href="./lastEvPage/" class="linkArticle"  alt="link vers page du dernier tournoi de poker 4As-t-us">
                  <img src="./img/table1.jpeg" alt="Rencontre de poker à une table">
                  <div class="container extract">
                    <h4><b>Le dernier évènenment</b></h4>
                    <p>
                      Erat pricium av vici<br>
                      06 janius 2023<br>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      Aliquam nisl tellus, molestie sit amet interdum vitae, tincidunt vitae arcu. 
                      Suspendisse et ultrices libero. Mauris in ullamcorper lectus...
                    </p>
                  </div>
                </a>
              </div>