              <div class="mediathequeItem col-md-3">
                <video width="320px" height="240px" muted controls hidden>
                  <source src="#" alt="" type="video/mp4">
                  Description de la video
                </video>
                <a href="./NewsOfAssoPage/" class="linkArticle" alt="link vers page de Bientôt adhésion à 4As-t-us possible en ligne">
                  <img src=" ./img/subscrib.jpeg" alt="Bientôt adhésion à 4As-t-us possible en ligne"/>
                  <div class="container extract">
                    <h4><b>Bientôt adhésion à 4As-t-us possible en ligne</b></h4>
                    <p>
                      Erat et efficitur av<br>
                      26 dexembius 2022<br>
                      Quis facilisis dui adhesium ov
                      groupis 4As-t-us vi droitum!...
                    </p>
                  </div>
                </a>
              </div>