              <div class="mediathequeItem col-md-3">
                <!--<video width="320px" height="240px" muted controls>
                  <source src= "./vid/nextEv.mp4" alt="Lieu du prochain tournoi" type="video/mp4">
                  Lieu du prochain tournoi
                </video>-->
                <a href="./nextEvPage/" class="linkArticle" alt="link vers page du prochain tournoi de poker 4As-t-us">
                  <img src="./img/nextEv.jpeg" alt="Lieu du le prochain évènement" />
                  <div class="container extract">
                    <h4><b>Prochain évènement</b></h4>
                    <p>
                      Vivamus sit amet vel placerat justo.<br>
                      11 novarem 2022<br>
                      Nam scelerisque leo sit amet lectus suscipit, quis facilisis dui vestibulum. 
                      Proin mi nibh, rutrum malesuada turpis eu, placerat blandit sapien...
                    </p>
                  </div>
                </a>
              </div>