---
layout: agenda.njk
datejj:01
datemmm:juin
dateYYYY:2022
title_Evènement1: Table 1
time_Evènement1: 13:00
title_Evènement2: Table 2
time_Evènement2: 15:30
title_Evènement3: Tournoi All Stars 
time_Evènement3: 20:00
title_Evènement4: Tournoi Black night
time_Evènement4: 22:00
title_Evènement1: Table 1
time_Evènement1: 13:00
title_Evènement2: Table 2
time_Evènement2: 15:30
title_Evènement3: Tournoi All Stars 
time_Evènement3: 20:00
title_Evènement4: Tournoi Black night
time_Evènement4: 22:00
---

          <h2 class="sidebar__heading">{{datemmm}} " "{{dateYYYY}}</h2>
          <ul class="sidebar__list">
            {% include "mer1.njk"%}
          </ul>