<li class="sidebar__list-item sidebar__list-item--complete"><span class="list-item__time">{{time_Evènement1}}</span>{{title_Evènement1}}</li>
            <li class="sidebar__list-item sidebar__list-item--complete"><span class="list-item__time">{{time_Evènement2}}</span>{{title_Evènement2}}</li>
            <li class="sidebar__list-item"><span class="list-item__time">{{time_Evènement3}}</span>{{title_Evènement3}}</li>
            <li class="sidebar__list-item"><span class="list-item__time">{{time_Evènement4}}</span>{{title_Evènement4}}</li>
            <li class="sidebar__list-item sidebar__list-item--complete"><span class="list-item__time">{{time_Evènement5}}</span>{{title_Evènement5}}</li>
            <li class="sidebar__list-item sidebar__list-item--complete"><span class="list-item__time">{{time_Evènement6}}</span>{{title_Evènement6}}</li>
            <li class="sidebar__list-item"><span class="list-item__time">{{time_Evènement7}}</span>{{title_Evènement7}}</li>
            <li class="sidebar__list-item"><span class="list-item__time">{{time_Evènement8}}</span>{{title_Evènement8}}</li>
          