        <!--<nav class="navbar navbar-expand-md fixed-top">
                    <div class="container container-fluid">
                        <a id="logo" class="navbar-brand" href="{{AccueilPage}}">
                            <img id="img4As" src="{{logo4As}}"/>
                            <span class="md brand">4As-t-us</span>
                        </a>
                        <button class="navbar-toggler" type="toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <i type="button" class="bi bibiToggleOpen bi-list"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav menu">< !-- me-auto mb-2 mb-md-0 -- >
                                <li class="nav-item">
                                    <a class="nav-link" href="{{AccueilPage}}"><i class="bi bi-suit-spade"></i>Accueil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{HomePage}}"><i class="bi bi-suit-heart"></i>Le Club</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{AgendaPage}}"><i class="bi bi-suit-club"></i>Agenda</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ClassementsPage}}"><i class="bi bi-suit-diamond"></i>Classement</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{WinamaxPage}}"><i class="bi bi-coin"></i>Jouer à Winamax</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>--><!--
                **************************
                <div class="container-fluid">
      
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="{{AccueilPage}}">
            <img id="img4As" src="{{logo4As}}"/>
            <span class="md brand">4As-t-us</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span><i type="button" class="bi bibiToggleOpen bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{{AccueilPage}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">Acueil</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">HTML et CSS</a>
                <a class="dropdown-item" href="#">JavaScript</a>
                <a class="dropdown-item" href="#">PHP et MySQL</a>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link " href="{{HomePage}}">Le Club</a></li>
            <li class="nav-item"><a class="nav-link " href="{{AgendaPage}}">Agenda</a></li>
            <li class="nav-item"><a class="nav-link " href="{{ClassementsPage}}">Classement</a></li>
            <li class="nav-item"><a class="nav-link " href="{{WinamaxPage}}">Jouer à Winamax</a></li>
          </ul>
          <!--<form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
          </form>-- >
              </div>
            </nav>-->
                    <header class="header">
            <div class="headerMenu">*****************<!--<div class="header-nav">//sup-->
                
                <nav class="navbar navbar-expand-md fixed-top">
                    <div class="container-fluid"><!--<div class="container container-fluid">-->
                        <a id="logo" class="navbar-brand" href="{{AccueilPage}}">
                            <img id="img4As" src="{{logo4As}}"/>
                            <span class="md brand">4As-t-us</span>
                        </a>
                        <button class="navbar-toggler" type="toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <i type="button" class="bi bibiToggleOpen bi-list"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav menu"><!-- me-auto mb-2 mb-md-0 -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{{AccueilPage}}"><i class="bi bi-suit-spade"></i>Accueil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{HomePage}}"><i class="bi bi-suit-heart"></i>Le Club</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{AgendaPage}}"><i class="bi bi-suit-club"></i>Agenda</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ClassementsPage}}"><i class="bi bi-suit-diamond"></i>Classement</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{WinamaxPage}}"><i class="bi bi-coin"></i>Jouer à Winamax</a>
                                </li>
                                <!--<li>
                                    <div class="downloadFile">
                                        <div class="container">
                                            <div class="interior">
                                              <a class="btn" href="#open-modal"><i class="bi bi-download"></i> CV</a>
                                            </div>
                                        </div>
                                        <div id="open-modal" class="modal-window">
                                            <div>
                                                <a href="#" title="Close" class="modal-close">Close</a>
                                                <div>Télécharger :</div>
                                                <a type="button" class="btn btnDownload" href="dwnd/CV_DevWeb_FManier.docx" download><i class="bi bi-download"></i> CV.docx</a>
                                                <a type="button" class="btn btnDownload" href="dwnd/CV_DevWeb_FManier.pdf" download><i class="bi bi-download"></i> CV.pdf</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>-->
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        