@charset "UTF-8";
/* ******************** RESET ********************** */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0a | 20110126
   License: none (public domain)
*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* import icons bootsrap5*/
/* import fonts*/
/* ******************** var color this style is recoded to $var hidden ******************** * /
:root {
    --NB000: #fff;/*white - rgb(255,255,255) - hsl(0, 0%, 100%)* /
    --NB250: #E6E6E8;/*rgb(230,230,232) - hsl(240, 4%, 91%)* /
    --NB500: #cacaca;/*rgb(202,202,202) - hsl(0, 0%, 79%)* /
    --NB750: #878787;/*rgb(135,135,135) - hsl(0, 0%, 53%)* /
    --NB800: #404040;/*rgb(64,64,64) - hsl(0, 0%, 25%)* /
    --NB1000: #000;/*black - rgb(0,0,0) - hsl(0, 0%, 0%)* /
    --HOT100: #FFF800;/*rgb(255,248,0) - hsl(58, 100%, 50%)* /
    --HOT500: #FF7305;/*rgb(255,115,5) - hsl(26, 100%, 51%)* /
    --HOT900: #FF0000;/*red - rgb(255,0,0) - hsl(0, 100%, 50%)* /
    --police: 'Fredericka the Great', arial, sans-serif, system-ui, roboto;
}    

/* ******************** var font-size  ******************** */
/*100%*/
/* ******************** GENERAL ********************** */
h1 {
  text-align: center;
  font-size: 2.4em;
  font-family: "Fredericka the Great", arial, sans-serif, system-ui, roboto;
  margin-bottom: 80px;
}

h2 {
  text-align: center;
  font-size: 1.92em;
  margin-bottom: 40px;
  margin-top: 40px;
}

h3 {
  font-size: 1.68em;
  margin-bottom: 20px;
  margin-top: 20px;
}

h4 {
  font-size: 1.32em;
  margin-bottom: 10px;
}

h5 {
  font-size: 1.26em;
}

p {
  font-size: 1.2em;
  margin-top: 15px;
}

span.md, span.lg, div.md.map, div.lg.map, .xl, div#divSideImglg {
  display: none;
}

div.text {
  padding: 0 20px;
}

body {
  background-color: #000;
  width: 100%;
}

h1, h2, h3, h4, p, ul, li {
  color: #fff;
}

/* ******************** NAVBAR MENU ********************** */
header {
  background: #fff;
  height: 70px;
  /*!Ne pas enlever bar menu fixe*/
}

a.navbar-brand img {
  width: 60px;
  height: 40px;
}

a span.brand {
  vertical-align: 25%;
  margin-right: 50px;
}

/*
a.nav-link:hover, button.navbar-toggler:hover, a.navbar-brand:hover {
  color:$HOT900;
}*
a span.brand:hover {
  vertical-align: 50%;
  color:$HOT900;
}
*/
div.headerNav {
  width: 100vw;
}

nav.a:hover {
  color: #FF7305;
  fill: rgba(255, 115, 5, 0.8);
}

nav a svg.myLogo {
  width: 14px;
  height: auto;
  fill: #878787;
}

nav a svg.myLogo:hover {
  fill: rgba(255, 115, 5, 0.8);
}

div.headerNavButtonDiv {
  background-image: url(img/LogoDev.png);
}

button div img {
  width: 20px;
  height: 20px;
}

button:focus div#bebe {
  display: none;
  width: 20px;
  height: 20px;
}

ul.navbar-nav.menu li a i {
  margin-right: 10px;
}

ul.navbar-nav.menu li a {
  margin-right: 25px;
}

/* Classe principale de la barre de navigation */
.navbar {
  /* Couleur de fond de la barre de navigation */
  background-color: #000;
  border-color: #fff;
  font-size: 1.44em;
}

/* Couleur des titres affichés dans la barre */
.navbar .navbar-brand {
  color: #fff;
  font-family: "Fredericka the Great", arial, sans-serif, system-ui, roboto;
  font-size: 1.44em;
}

/* Couleur utilisée lors du passage de la souris sur un titre de la barre */
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #FF7305;
}

/* Couleur utilisée pour les liens */
.navbar .navbar-nav > li > a {
  color: #fff;
}

/*Couleur utilisée pour les liens lorsque la souris passe dessus */
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #FF7305;
}

/* ************************** */
/*
.downloadFile>a {
    font-size: $sizeP*0.8;
    width:150px;
}*/
.bi.bibiToggleOpen.bi-list {
  color: #fff;
}

.modal-window {
  position: fixed;
  background-color: #E6E6E8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #fff;
}

.modal-close {
  color: #fff;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: #000;
}

/*
  html {
    font-size: 18px;
    line-height: 1.4;
  }

  body {
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 600;
    background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%);
    color: black;
  }

  a {
    color: inherit;
  }
  * /
  .container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 1vh;
  }
  * /
  .modal-window {
    & > div {
      border-radius: 1rem;
    }
  }
  */
/* ******************** SECTION ACCUEIL ********************** */
/*div.mainImgIntro.container {
  position: absolute;
  width:100vw;
  height:100%;
  margin: 0 10%;
  background:url(./img/4Astuces.jpg) center no-repeat;
  background-size:100%;
}*/
div.mainImgIntro.container h1 {
  margin-top: -100px;
  text-align: center;
}

div.mainImgIntro.container h2 {
  text-align: center;
}

div.mediatheque {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* ******************** SECTION LE CLUB ********************** */
.center {
  text-align: center;
}

/* ******************** SECTION AGENDA ********************** */
caption#classement {
  color: white;
  font-size: 30px;
}

table.classement {
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.classement tbody {
  width: 100%;
}

thead, th, td, tr, tbody {
  color: white;
  border: 1px solid white;
  text-align: center;
}

tbody > tr:nth-child(even) {
  background-color: rgb(194, 193, 193);
  color: black;
}

thead > tr {
  background-color: rgb(222, 115, 153);
  width: 100%;
}

th {
  width: 25%;
  padding: 1%;
}

td {
  width: 25%;
  padding: 1%;
}

/* ******************** SECTION WINAMAX ********************** */
div#winamax {
  margin-top: 100px;
}

div.containerCta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.container.padded {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

div.column {
  width: 220px;
  display: block;
}

#page section.padded {
  padding: 50px 0;
}

.containerCta {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 50px;
  position: relative;
}

.jouer .column + .column {
  margin-left: 50px;
}

.jouer .column {
  width: 220px;
  float: left;
}

.box {
  border-radius: 4px;
  background: #f2f2f2 transparent;
  border: 1px solid #e3e3e3;
  padding: 15px;
}

.jouer .column:nth-child(1) .box img {
  margin-bottom: 44px;
  margin-top: 50px;
}

.jouer .box img {
  margin: 27px auto 5px auto;
  display: block;
  width: 100%;
}

div.box > p, div.box > a {
  text-align: center;
}

.btn-danger {
  margin: 5% 11%;
}

div.winamaxPage:last-child {
  text-align: center;
}

#btnOld {
  padding: 2px 5px;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: gray;
  color: black;
}

#btnOld:hover {
  border: 1px solid rgb(108, 108, 108);
  border-radius: 4px;
  background-color: rgb(108, 108, 108);
  color: black;
  transition-property: background-color transform color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

/* ******************** NEXTEVPAGE ********************** */
/*************************************************************/
/********************* Responsive Tablet *********************/
@media only screen and (min-width: 415px) {
  span.md, div.md.map, #mdImg2 {
    display: unset;
  }
}
/*************************************************************/
/********************* Responsive  Lg **********************/
@media only screen and (min-width: 769px) {
  div.mainTopLogo img {
    width: auto;
    height: 181px;
  }

  span.lg, div.lg.map, #lgImg3, div#divSideImglg {
    display: unset;
  }

  .noLg {
    display: none;
  }

  /*** (lg) HOMEPAGE (lg) ***/
  /*img#1.imgSideImgLg {
    margin-left: 1px;
  }*/
  div.homepage {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
  }

  section.container.padded {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 5%;
  }

  div.containerCta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
/***************************************************************/
/******************* Responsive Desktop xl ********************/
@media only screen and (min-width: 1192px) {
  .nolx {
    display: none;
  }

  .xl {
    display: unset;
  }
}
div.mediathequeItem.col-md-3 {
  margin: 5% 10%;
  align-content: center;
}

div.mediathequeItem > a > video {
  width: 320px;
  height: 240px;
}

div.mediathequeItem > a > img {
  width: 100%;
}

div.mediathequeItem > a > div {
  margin-top: 50px;
}

div.mediathequeItem > a > div > h4 {
  text-align: center;
}

div.container.extract {
  padding: 0 5px;
}

/**** articles Pages ****/
div.article_Container > h4 {
  text-align: center;
}

/*
* {
	outline: none;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	height: 100%;
	padding: 1rem;
	background-color: #f6f5f1;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, "Helvetica Neue", sans-serif;
	background-image: linear-gradient(45deg, $tangerine 0%, $pink 100%);

  @media screen and (min-width:55em) {
    height: 100vh;
    margin: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
}

p, span, ul, li {
	color: lighten($black, 20%);
	font-weight: 100;
	-webkit-font-smoothing: subpixel-antialiased;
	font-size: 1rem;
}
*/
.calendar-contain {
  position: relative;
  left: 0;
  right: 0;
  border-radius: 0;
  width: 100%;
  overflow: hidden;
  max-width: 1020px;
  min-width: 450px;
  margin: 1rem auto;
  background-color: #f5f7f6;
  box-shadow: 5px 5px 72px rgba(30, 46, 50, 0.5);
  color: #040605;
}
@media screen and (min-width: 55em) {
  .calendar-contain {
    margin: auto;
    top: 5%;
  }
}

.title-bar {
  position: relative;
  width: 100%;
  display: table;
  text-align: right;
  background: #f5f7f6;
  padding: 0.5rem;
  margin-bottom: 0;
}
.title-bar:after {
  display: table;
  clear: both;
}

.title-bar__burger {
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 38px;
  height: 30px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background: none;
}
.title-bar__burger:focus {
  outline: none;
}

.burger__lines {
  display: block;
  position: absolute;
  width: 18px;
  top: 15px;
  left: 0;
  right: 0;
  margin: auto;
  height: 1px;
  background: #040605;
}
.burger__lines:before, .burger__lines:after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #040605;
  content: "";
}
.burger__lines:before {
  top: -5px;
}
.burger__lines:after {
  bottom: -5px;
}

.title-bar__year {
  display: block;
  position: relative;
  float: left;
  font-size: 2rem;
  line-height: 30px;
  width: 43%;
  padding: 0 0.5rem;
  text-align: left;
}
@media screen and (min-width: 55em) {
  .title-bar__year {
    width: 27%;
  }
}

.title-bar__month {
  position: relative;
  float: left;
  font-size: 2rem;
  line-height: 30px;
  width: 40%;
  padding: 0 0.5rem;
  text-align: left;
  /*
  	&:after {
  		content: "";
  		display: inline;
  		position: absolute;
  		width: 10px;
  		height: 10px;
  		right: 0;
  		top: 5px;
  		margin: auto;
  		border-top: 1px solid rgb(0, 0, 0);
  		border-right: 1px solid rgb(0, 0, 0);
  		transform: rotate(135deg);
  	}*/
}
@media screen and (min-width: 55em) {
  .title-bar__month {
    width: 40%;
  }
}

.title-bar__minimize,
.title-bar__maximize,
.title-bar__close {
  position: relative;
  float: left;
  width: 34px;
  height: 34px;
}
.title-bar__minimize:before, .title-bar__minimize:after,
.title-bar__maximize:before,
.title-bar__maximize:after,
.title-bar__close:before,
.title-bar__close:after {
  top: 30%;
  right: 30%;
  bottom: 30%;
  left: 30%;
  content: " ";
  position: absolute;
  border-color: #8e8e8e;
  border-style: solid;
  border-width: 0 0 2px 0;
}

.title-bar .title-bar__controls {
  display: inline-block;
  vertical-align: top;
  position: relative;
  float: right;
  width: auto;
}
.title-bar .title-bar__controls:before, .title-bar .title-bar__controls:after {
  content: none;
}

.title-bar .title-bar__minimize:before {
  border-bottom-width: 2px;
}

.title-bar .title-bar__maximize:before {
  border-width: 1px 1px 2px 1px;
}

.title-bar .title-bar__close:before,
.title-bar .title-bar__close:after {
  bottom: 50%;
  top: 49.9%;
}

.title-bar .title-bar__close:before {
  transform: rotate(45deg);
}

.title-bar .title-bar__close:after {
  transform: rotate(-45deg);
}

/*
.title-bar .title-bar__close:hover {
  // background-color: #E04343;
}

.title-bar div:hover:after,
.title-bar div:hover:before {
  // border-color: #333333;
}

.title-bar .title-bar__close:hover:after,
.title-bar .title-bar__close:hover:before {
  // border-color: #FFFFFF;
}
*/
.calendar__sidebar {
  width: 100%;
  margin: 0 auto;
  float: none;
  background: linear-gradient(120deg, #eff3f3, #e1e7e8);
  padding-bottom: 0.7rem;
}
@media screen and (min-width: 55em) {
  .calendar__sidebar {
    position: absolute;
    height: 100%;
    width: 30%;
    float: left;
    margin-bottom: 0;
  }
}

.calendar__sidebar .content {
  padding: 2rem 1.5rem 2rem 4rem;
  color: #040605;
}

.sidebar__nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.9rem;
  padding: 0.7rem 1rem;
  background-color: #f5f7f6;
}

.sidebar__nav-item {
  display: inline-block;
  width: 22px;
  margin-right: 23px;
  padding: 0;
  opacity: 0.8;
}

.sidebar__list {
  list-style: none;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar__list-item {
  margin: 1.2rem 0;
  color: #2d4338;
  font-weight: 100;
  font-size: 1rem;
}

.list-item__time {
  display: inline-block;
  width: 60px;
}
@media screen and (min-width: 55em) {
  .list-item__time {
    margin-right: 2rem;
  }
}

.sidebar__list-item--complete {
  color: rgba(4, 6, 5, 0.3);
}
.sidebar__list-item--complete .list-item__time {
  color: rgba(4, 6, 5, 0.3);
}

.sidebar__heading {
  font-size: 2.2rem;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}
.sidebar__heading span {
  float: right;
  font-weight: 300;
}

.calendar__heading-highlight {
  color: #2d444a;
  font-weight: 900;
}

.calendar__days {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  width: 100%;
  float: none;
  min-height: 580px;
  height: 100%;
  font-size: 12px;
  padding: 0.8rem 0 1rem 1rem;
  background: #f5f7f6;
}
@media screen and (min-width: 55em) {
  .calendar__days {
    width: 70%;
    float: right;
  }
}

.calendar__top-bar {
  display: flex;
  flex: 32px 0 0;
}

.top-bar__days {
  width: 100%;
  padding: 0 5px;
  color: #2d4338;
  font-weight: 100;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 1rem;
}

.calendar__week {
  display: flex;
  flex: 1 1 0;
}

.calendar__day {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  padding: 1.9rem 0.2rem 0.2rem;
}

.calendar__date {
  color: #040605;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 0.7;
}
@media screen and (min-width: 55em) {
  .calendar__date {
    font-size: 2.3rem;
  }
}

.calendar__week .inactive .calendar__date,
.calendar__week .inactive .task-count {
  color: #c6c6c6;
}
.calendar__week .today .calendar__date {
  color: #fd588a;
}

.calendar__task {
  color: #040605;
  display: flex;
  font-size: 0.8rem;
}
@media screen and (min-width: 55em) {
  .calendar__task {
    font-size: 1rem;
  }
}
.calendar__task.calendar__task--today {
  color: #fd588a;
}

.cdoPage input {
  position: absolute;
  opacity: 0;
  margin-top: 80vh;
  cursor: pointer;
  color: white;
}

.cdoPage label {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: solid 2px white;
  border-radius: 999px;
  background-color: transparent;
  margin: 80vh 6px 0 6px;
  z-index: 2;
  cursor: pointer;
  transition-duration: 0.4s;
}

.cdoPage input:checked + label {
  background-color: white;
}

.cdoPage input:focus + label {
  box-shadow: 0 0 0 2px teal, 0 0 18px white;
}

.cdoPage div.slide {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 20%;
  width: 100%;
  height: 80%;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateX(-100%);
  transition-duration: 0.4s;
  opacity: 1;
}

.cdoPage input:checked ~ .slide {
  transform: translateX(100%);
}

.cdoPage input:checked + label + .slide {
  transform: translateX(0);
  opacity: 1;
}

.bg1 {
  background-image: url(../img/price1.jpeg);
}

.bg2 {
  background-image: url(../img/price1a.jpeg);
}

.bg3 {
  background-image: url(../img/price1b.jpeg);
}

.bg4 {
  background-image: url(../img/price2.jpeg);
}

.bg5 {
  background-image: url(../img/price2a.jpeg);
}

.bg6 {
  background-image: url(../img/price2b.jpeg);
}

.bg7 {
  background-image: url(../img/price3.jpeg);
}

.bg8 {
  background-image: url(../img/price3a.jpeg);
}

.bg9 {
  background-image: url(../img/price3b.jpeg);
}

/********************* FOOTER ***********************/
footer {
  margin-top: 150px;
  bottom: 0px;
}

div.footer-copyright {
  background-color: #000;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  margin-top: 50px;
}

i.bi.bibiUp.bi-chevron-up {
  font-size: 1.2em;
  color: #fff;
  text-align: center;
  margin-top: 5px;
  padding-left: 50%;
}

div.pageUp {
  margin: 0px;
  color: NB000;
}
div.pageUp p {
  text-align: center;
  margin: 0px;
}

/*# sourceMappingURL=style.css.map */
