---
title: Cadeaux - 4As-t-us
description: cette page présente les cadeaux fictifs à gagner par les vainqueurs des tournois de poker 4As-t-us. 
layout: layout.njk
linkCSS: ../css/style.css
logo4As: ../img/4As.jpg
AccueilPage: ../index.html
HomePage: ../homepage/index.html
AgendaPage: ../homepage/index.html
ClassementsPage: ../classements/index.html
WinamaxPage: ../winamax/index.html
---
      <div class="mediathequeItem" style="padding: 0 10%">
        <!--<video width="800px" height="600px" muted="" controls="" style="margin:100px 25%">
          <source src="../vid/nextEv.mp4" alt="Lieu du prochain tournoi" type="video/mp4">
          Lieu du prochain tournoi
        </video>-->
        <img src=" ../img/price1.jpeg" alt="Bientôt adhésion à 4As-t-us possible en ligne" width="100%" height="auto"/>
        <div class="article_Container">
          <h4><b>Cadeaux pour les 3 meilleurs joueurs</b></h4>
          <p>
              Erat et efficitur av<br>
              27 juliminus 2022<br>
              Quis facilisis dui vestibulum ov
              Poldo Pedro roin mi placerat blandit sapien!<br>
              Donec condimentum est a ipsum porta, pharetra 
              condimentum quam pellentesque.<br>
              <br>
              Sed vitae finibus nisl, nec malesuada odio. Nunc porta vitae risus et venenatis. 
              Sed euismod fermentum erat vitae posuere.<br>
              <br>
              Aenean vel sem dui. Vivamus ultrices dolor eu convallis gravida. 
              Phasellus semper tempor eros in elementum. In tincidunt ultrices semper.
            </p>
          </p>
        </div>
      </div>