---
title: About - 4As-t-us
description: cette page présente l'association '4As-t-us' avec sa création et son histoire, ses statuts, ses règles et ses coordonnées. 
layout: layout.njk
linkCSS: ../css/style.css
logo4As: ../img/4As.jpg
AccueilPage: ../index.html
HomePage: ./
AgendaPage: ../agenda/index.html
ClassementsPage: ../classements/index.html
WinamaxPage: ../winamax/index.html
---
<div class="container col-md-12 homepage">
  <div class="col-sm-12 col-md-6">
    <h1>Presentis</h1>
      <h2>Ils forumems praticus</h2>
        <h3 class="center">condimentum</h3>
      <p class="center">Adrum: <br>
      rutrum, leo at pellentesque<br>
      B2166 Mauris turpis
      </p>
      <p class="center">Mailus : ljhklqgrse@jlngez.com</p>
    
      <h2>consectetur</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis purus, tempus ut tellus eu,
          pulvinar interdum tortor. Quisque id varius mauris. Pellentesque pretium tortor ut vulputate luctus. 
          Phasellus vehicula, nibh sed facilisis euismod, quam enim dictum libero, et accumsan magna tortor in dui. 
          Mauris ut nisl id leo pulvinar placerat. Morbi non eros eget sem iaculis viverra. Nullam nec lorem ligula. 
          Nullam ut tortor in purus sodales tristique. Ut fermentum, orci dictum dapibus finibus, erat metus 
          accumsan tellus, at maximus velit sem vel quam. Aliquam quam arcu, accumsan vel quam in, consectetur 
          euismod tortor. Mauris bibendum urna molestie magna aliquam ullamcorper :
        </p>
          <ul class="center">
            <li class="center">Pedro,</li>
            <li class="center">Kangoo,</li>
            <li class="center">TripleAce,</li>
            <li class="center">Walk'n,</li>
            <li class="center">Momo,</li>
            <li class="center">SoiFranc,</li>
            <li class="center">Ted,</li>
            <li class="center">Nanar</li>
          </ul>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet facilisis purus, vel placerat justo. 
          Vivamus accumsan auctor leo, nec maximus dui eleifend ac. Nam posuere, orci eget finibus sodales, dui tortor 
          mollis urna, non laoreet sem erat nec orci. Nam scelerisque leo sit amet lectus suscipit, quis facilisis dui 
          vestibulum. Proin mi nibh, rutrum malesuada turpis eu, placerat blandit sapien. Nulla tincidunt justo neque, 
          sed hendrerit lacus tempor ac. Quisque ipsum libero, placerat id tortor et, consequat porttitor nunc. 
          Nam euismod, erat et efficitur volutpat, mauris ligula egestas quam, in sollicitudin eros purus id diam. 
          Cras finibus metus et dolor sagittis lobortis ut sed turpis. Ut neque leo, iaculis vel purus sed, volutpat 
          posuere dui. Pellentesque non nibh sed risus aliquam feugiat a quis purus. Donec sit amet sem venenatis, 
          suscipit neque at, ornare nunc. Pellentesque egestas dui vel nisi pulvinar, vel finibus velit tempor. 
          Vivamus suscipit eu neque nec ullamcorper.

          Quisque nec tincidunt dolor. Orci varius natoque penatibus et magnis dis parturient montes, 
          nascetur ridiculus mus. Cras non tellus tempus, hendrerit urna ut, lacinia eros. Donec sollicitudin mi ac 
          tempus tincidunt. Integer scelerisque fringilla lorem. Donec condimentum est a ipsum porta, pharetra 
          condimentum quam pellentesque. Sed vitae finibus nisl, nec malesuada odio. Nunc porta vitae risus et venenatis. 
          Sed euismod fermentum erat vitae posuere. Aenean vel sem dui. Vivamus ultrices dolor eu convallis gravida. 
          Phasellus semper tempor eros in elementum. In tincidunt ultrices semper.
        </p>
      <br>
      <h2>Vivamus</h2>
        <p>
          Integer scelerisque fringilla lorem. Donec condimentum est a ipsum porta, pharetra 
          condimentum quam pellentesque. Sed vitae finibus nisl, nec malesuada odio. Nunc porta vitae risus et venenatis. 
          Sed euismod fermentum erat vitae posuere. Aenean vel sem dui. Vivamus ultrices dolor eu convallis gravida. 
          Phasellus semper tempor eros in elementum. In tincidunt ultrices semper.
        </p>
      <br>
  </div>
  <div id="divSideImglg" class="sideImglg col-md-6" style="width:40%; text-align:center; margin-left:15%">
    <img class="imgSideImgLg" id="1" src="../img/hall.jpg" alt="image du hall fictif du club " style="width:100%;height:auto;margin-top:130px"/>
    <img class="imgSideImgLg" id="2" src="../img/table1.jpeg" alt="image du hall fictif du club " style="width:100%;height:auto;margin-top:160px"/>
    <img class="imgSideImgLg" id="3" src="../img/distrib.jpeg" alt="image du hall fictif du club " style="width:100%;height:auto;margin-top:160px"/>
  </div>
</div>
