---
title: Le dernier évènement - 4As-t-us
description: cette page présente le dernier évenement de poker de l'association 4As-t-us. 
layout: layout.njk
linkCSS: ../css/style.css
logo4As: ../img/4As.jpg
AccueilPage: ../index.html
HomePage: ../homepage/index.html
AgendaPage: ../homepage/index.html
ClassementsPage: ../classements/index.html
WinamaxPage: ../winamax/index.html
---
      <div class="mediathequeItem" style="padding: 0 10%">
        <video width="100%" height="700px" muted controls>
          <source src="../vid/winner.mp4" alt="Le Vainqueur du dernier tournoi" type="video/mp4">
          Présentation du vainqueur du dernier tournoi de poker.
        </video>
        <img src="#" alt="">
        <div class="article_Container">
          <h4><b>Le dernier évènenment</b></h4>
          <p>
            Erat pricium av vici<br>
            06 janius 2023<br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aliquam nisl tellus, molestie sit amet interdum vitae, tincidunt vitae arcu. 
            Suspendisse et ultrices libero. Mauris in ullamcorper lectus. Cras turpis ipsum, 
            ornare vitae dui at, accumsan consectetur enim. Aliquam a lectus ut metus 
            auctor mollis. Nunc urna libero, auctor quis eleifend ut, vulputate in lectus. 
            Suspendisse eget libero et dui ornare pulvinar. Etiam nec nisi vitae diam 
            facilisis gravida eu vel felis. Maecenas dictum tellus convallis luctus facilisis. 
            <br>
            Fusce ullamcorper scelerisque faucibus. Integer non malesuada felis. 
            Aliquam semper feugiat massa, a posuere elit vulputate vitae. Donec nulla diam, 
            lacinia et cursus ut, sagittis id odio. Phasellus eget vehicula odio.
            <br>
            Nulla faucibus arcu quis lectus auctor, ac iaculis erat sagittis. 
            Suspendisse suscipit, velit a posuere molestie, libero lectus accumsan ex, eu 
            finibus metus sem sit amet ante. Integer quis lectus eros. Aliquam erat volutpat.
             Maecenas ipsum mi, iaculis id mi quis, iaculis ultrices enim. Suspendisse eget 
             nisl id augue cursus efficitur. Praesent nec leo ac libero euismod blandit 
             sed vel diam. Integer vitae commodo mi. Aenean eu metus sed dui accumsan sagittis 
             tincidunt eget lectus.
          </p>
        </div>
      </div>