---
title: Dernière Infos - 4As-t-us
description: cette page présente l'information principale de l'association 4As-t-us. 
layout: layout.njk
linkCSS: ../css/style.css
logo4As: ../img/4As.jpg
AccueilPage: ../index.html
HomePage: ../homepage/index.html
AgendaPage: ../homepage/index.html
ClassementsPage: ../classements/index.html
WinamaxPage: ../winamax/index.html
---
      <div class="mediathequeItem" style="padding: 0 10%">
        <!--<video width="800px" height="600px" muted="" controls="" style="margin:100px 25%">
          <source src="../vid/nextEv.mp4" alt="Lieu du prochain tournoi" type="video/mp4">
          Lieu du prochain tournoi
        </video>-->
        <img src=" ../img/subscrib.jpeg" alt="Bientôt adhésion à 4As-t-us possible en ligne" width="100%" height="auto"/>
        <div class="article_Container">
          <h4><b>Bientôt adhésion à 4As-t-us possible en ligne</b></h4>
          <p>
            Erat et efficitur av<br>
            26 dexembius 2022<br>
            Quis facilisis dui adhesium ov
            groupis 4As-t-us vi droitum!<br>
            Donec condimentum est a ipsum porta, pharetra 
            condimentum quam pellentesque.<br>
            <br>
            Sed vitae finibus nisl, nec malesuada odio. Nunc porta vitae risus et venenatis. 
            Sed euismod fermentum erat vitae posuere.<br>
            <br>
            Aenean vel sem dui. Vivamus ultrices dolor eu convallis gravida. 
            Phasellus semper tempor eros in elementum. In tincidunt ultrices semper.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nisl tellus, 
            molestie sit amet interdum vitae, tincidunt vitae arcu. Suspendisse et ultrices libero. 
            Mauris in ullamcorper lectus. Cras turpis ipsum, ornare vitae dui at, 
            accumsan consectetur enim. Aliquam a lectus ut metus auctor mollis. Nunc urna libero, 
            auctor quis eleifend ut, vulputate in lectus. Suspendisse eget libero 
            et dui ornare pulvinar. Etiam nec nisi vitae diam facilisis gravida eu vel felis. 
            Maecenas dictum tellus convallis luctus facilisis. 
          </p>
        </div>
      </div>