---
title: Evènement - 4As-t-us
description: cette page présente le prochain évenement de poker de l'association 4As-t-us. 
layout: layout.njk
linkCSS: ../css/style.css
logo4As: ../img/4As.jpg
AccueilPage: ../index.html
HomePage: ../homepage/index.html
AgendaPage: ../homepage/index.html
ClassementsPage: ../classements/index.html
WinamaxPage: ../winamax/index.html
---

      <div class="mediathequeItem" style="margin-top:70px;padding: 0 10%">
          <video width="100%" height="auto" muted controls>
            <source src="../vid/nextEv.mp4" alt="Lieu du prochain tournoi" type="video/mp4">
            Lieu du prochain tournoi
          </video>
          <img src="#" alt="">
          <div class="article_Container">
            <h4><b>Prochain évènement</b></h4>
            <p>
              Vivamus sit amet vel placerat justo.<br>
              11 novarem 2022<br>
              Nam scelerisque leo sit amet lectus suscipit, quis facilisis dui vestibulum. 
              Proin mi nibh, rutrum malesuada turpis eu, placerat blandit sapien. Nulla tincidunt justo neque, sed hendrerit lacus tempor ac. 
              Quisque ipsum libero, placerat id tortor et, consequat porttitor nunc. 
              Nam euismod, erat et efficitur volutpat, mauris ligula egestas quam, in sollicitudin eros purus id diam. 
              Cras finibus metus et dolor sagittis lobortis ut sed turpis. Ut neque leo, iaculis vel purus sed, volutpat 
              posuere dui. Pellentesque non nibh sed risus aliquam feugiat a quis purus. Donec sit amet sem venenatis, 
              suscipit neque at, ornare nunc. Pellentesque egestas dui vel nisi pulvinar, vel finibus velit tempor. 
              Vivamus suscipit eu neque nec ullamcorper.

              Quisque nec tincidunt dolor. Orci varius natoque penatibus et magnis dis parturient montes, 
              nascetur ridiculus mus. Cras non tellus tempus, hendrerit urna ut, lacinia eros. Donec sollicitudin mi ac 
              tempus tincidunt. Integer scelerisque fringilla lorem. Donec condimentum est a ipsum porta, pharetra 
              condimentum quam pellentesque. Sed vitae finibus nisl, nec malesuada odio. Nunc porta vitae risus et venenatis. 
              Sed euismod fermentum erat vitae posuere. Aenean vel sem dui. Vivamus ultrices dolor eu convallis gravida. 
              Phasellus semper tempor eros in elementum. In tincidunt ultrices semper.
            </p>
          </div>
        </a>
      </div>