---
title: winamax - 4As-t-us
description: cettte page vous donnera la possibilité de jouer avec le célébre jeu de poker en ligne Winamax.
layout: layout.njk
linkCSS: ../css/style.css
logo4As: ../img/4As.jpg
AccueilPage: ../index.html
HomePage: ../homepage/index.html
AgendaPage: ../agenda/index.html
ClassementsPage: ../classements/
WinamaxPage: ./
---

      <div class="winamaxPage">
        <div id="winamax" style="background: url(&quot;https://static.winamax.fr/img/style/v2/common/warn.png?v=2&quot;) center center no-repeat rgb(0, 0, 0); height: 60px; margin-bottom:20px;cursor: pointer; z-index: 56; display: block;"></div>
        <h1 style="margin-bottom:0px;">Jouez au poker avec winamax</h1>
        <h2 style="margin-top:30px;">Association fictive 4As-t-us </h2>
        <div class="container containerCta">
          <img class="illustration" src="https://operator-front-static-cdn.winamax.fr/img/content/poker/2021/20210921_nouveau_logiciel_winamax/play_poker_fr.png" alt="">
          <div class="cta" style="padding:10% 0">
            <a name="download"></a>
            <a href="?dl=1&amp;platform=win" class="btn btn-success"><i class="icon-download"></i>Installer Winamax</a>
            <div style="color:green">Téléchargement gratuit</div>
            <img src="https://operator-front-static-cdn.winamax.fr/img/style/v2/play/platforms.png" alt="">
            <div id="installer_status">
            <a id="btnOld" href="https://dl.winamax.fr/client/windows/installer/wamInstall.exe" class="smal-link">Installer l'ancienne version</a>
            </div>
          </div>

        </div>
        <!--<img class="illustration" src="https://operator-front-static-cdn.winamax.fr/img/content/poker/2021/20210921_nouveau_logiciel_winamax/play_poker_fr.png" alt="" style="margin: 2% 30% 5% 30%;">-->
        <div style="margin-top:5%">
          <section class="container padded" id="alternate-downloads">
            <div class="column ">
              <div class="box">
                <h2>Jouer au Poker<span>sans téléchargement</span></h2>
                <img src="https://operator-front-static-cdn.winamax.fr/img/style/v2/play/web2020.png" alt="" width="190" height="85" style="margin:15px auto 15px auto;">
                <p class="installText">
                  Vous ne pouvez pas installer l’application Winamax ? Jouez directement dans votre navigateur !
                </p>
                <p>
                    <small>Chrome, Edge &gt; 80, Firefox, Safari et Opera.</small>
                </p>
                <a href="https://www.winamax.fr/poker/launch_poker.php" class="btn btn-danger" target="_blank">Jouer maintenant</a>
              </div>
            </div>
            <div class="column ">
              <div class="box">
                <h2>Jouer au Poker<span>sur iPhone / iPad</span></h2>
                <img src="https://operator-front-static-cdn.winamax.fr/img/content/poker/2020/20200219_jouezaupoker/Jouez_Au_Poker_1_Apple.png" alt="" width="190">
                <p class="installText">
                  Winamax Poker est disponible dans l'App Store (Application poker iPhone et iPad).
                </p>
                <p>
                    <small>Nécessite iOS 9 ou supérieur</small>
                </p>
                <a href="https://itunes.apple.com/fr/app/winamax/id385720307?mt=8" class="btn btn-danger">Télécharger l'appli</a>
              </div>
            </div>
            <div class="column ">
              <div class="box">
                <h2>Jouer au Poker<span>sur android</span></h2>
                <img src="https://operator-front-static-cdn.winamax.fr/img/content/poker/2020/20200219_jouezaupoker/Jouez_Au_Poker_2_Android.png" alt="" width="190">
                <p class="installText">
                  Winamax Poker est disponible sur votre tablette ou téléphone Android.        
                </p>
                <p>
                    <small>Nécessite Android 5 ou supérieur</small>
                </p>
                <a href="/android" class="btn btn-danger">Télécharger l'appli</a>
              </div>
            </div>
          </section>
        </div>
      <p>Les visuels de cette page sont tirées du site winamax. Ils sont la propriété de winamax.</p>
      </div>
