div.mediathequeItem.col-md-3 {
  margin: 5% 10%;
  align-content:center;
}
div.mediathequeItem>a>video {
  width:320px;
  height:240px;
}
div.mediathequeItem>a>img {
  width:100%;
}
div.mediathequeItem>a>div {
  margin-top:50px;
}
div.mediathequeItem>a>div>h4 {
  text-align:center
}
div.container.extract {
  padding: 0 5px;
}
/**** articles Pages ****/
div.article_Container>h4 {
  text-align:center;
}