/* import icons bootsrap5*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/* import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

/* ******************** var color this style is recoded to $var hidden ******************** * /
:root {
    --NB000: #fff;/*white - rgb(255,255,255) - hsl(0, 0%, 100%)* /
    --NB250: #E6E6E8;/*rgb(230,230,232) - hsl(240, 4%, 91%)* /
    --NB500: #cacaca;/*rgb(202,202,202) - hsl(0, 0%, 79%)* /
    --NB750: #878787;/*rgb(135,135,135) - hsl(0, 0%, 53%)* /
    --NB800: #404040;/*rgb(64,64,64) - hsl(0, 0%, 25%)* /
    --NB1000: #000;/*black - rgb(0,0,0) - hsl(0, 0%, 0%)* /
    --HOT100: #FFF800;/*rgb(255,248,0) - hsl(58, 100%, 50%)* /
    --HOT500: #FF7305;/*rgb(255,115,5) - hsl(26, 100%, 51%)* /
    --HOT900: #FF0000;/*red - rgb(255,0,0) - hsl(0, 100%, 50%)* /
    --police: 'Fredericka the Great', arial, sans-serif, system-ui, roboto;
}    

/* ******************** var font-size  ******************** */
$sizeP: 1.2em;/*100%*/
$NB000: #fff;
$NB250: #E6E6E8;
$NB500: #cacaca;
$NB750: #878787;
$NB800: #404040;
$NB1000: #000;
$HOT100: #FFF800;
$HOT500: #FF7305;
$HOT900: #FF0000;
$police: 'Fredericka the Great', arial, sans-serif, system-ui, roboto;

/* ******************** GENERAL ********************** */
h1 {
    text-align: center;
    font-size: $sizeP* 2;
    font-family: $police;
    margin-bottom: 80px;
}
h2 {
    text-align: center;
    font-size: $sizeP*1.6;
    margin-bottom:40px;
    margin-top:40px;
}
h3 {
    font-size: $sizeP* 1.4;
    margin-bottom:20px;
    margin-top:20px;
}
h4 {
    font-size: $sizeP* 1.1;
    margin-bottom:10px;
}
h5 {
    font-size: $sizeP* 1.05;    
}
p {
    font-size: $sizeP* 1;
    margin-top:15px;
}


span.md, span.lg, div.md.map, div.lg.map, .xl, div#divSideImglg {
    display:none;
}

div.text{
    padding:0 20px;
}

body {
    background-color: $NB1000;
    width:100%;
}

h1, h2, h3, h4, p, ul, li {
    color:$NB000;
}