/* ******************** NAVBAR MENU ********************** */

nav.navbar {
  background-color: $NB1000;
  height:80px;/*!Ne pas enlever bar menu fixe!!!!*/
}/*
a.nav-link, button.navbar-toggler, a.navbar-brand {
  color:$NB000;
}
img#img4As {
  height:auto;
  max-width: 80px;
}
a span.brand {
  vertical-align: 50%;
  margin-right:100px;
  font-size:$sizeP*1.2;
}
a.nav-link:hover, button.navbar-toggler:hover, a.navbar-brand:hover {
  color:$HOT900;
}
a span.brand:hover {
  vertical-align: 50%;
  color:$HOT900;
}



div.header-nav {
  background: $HOT500;
  height:80px;/*!Ne pas enlever bar menu fixe * /
}
*/
a.navbar-brand img {
  width:40px;
  height:40px;
}

div.headerMenu {
  width:100vw;
}

nav.a:hover {
  color: $HOT500;
  fill:rgba(255,115,5,0.8);
}

nav a svg.myLogo {
    width:14px;
    height:auto;
    fill: $NB750;
  
  &:hover {
    fill:rgba(255,115,5,0.8);
  }
}

div.headerNavButtonDiv {
  background-image: url(../../public/img/1pic.jpg);
}

button div img {
  
  width:20px;
  height:20px;
}

button:focus div#bebe {
  display:none;
  width:20px;
  height:20px;
}

/* Classe principale de la barre de navigation */
.navbar {
  /* Couleur de fond de la barre de navigation */
  background-color: $NB1000;
  border-color: $NB000;
  font-size: $sizeP* 1.2;

  /* Couleur des titres affichés dans la barre */
  & .navbar-brand {
    color: $NB000;
    font-family: $police;
    font-size: $sizeP* 1.2;
  
    /* Couleur utilisée lors du passage de la souris sur un titre de la barre */
    &:hover, &:focus {
      color: $HOT500;
    }
  }

  /* Couleur utilisée pour les liens */
  & .navbar-nav > li > a {
    color: $NB000;

    /*Couleur utilisée pour les liens lorsque la souris passe dessus */
    &:hover, &:focus {
      color: $HOT500;
    }
  }
}
*/
/* *************Button Download************* */
/*
.downloadFile>a {
  font-size: $sizeP*0.8;
  width:150px;
}*/
.bi.bibiToggleOpen.bi-list {
color:$NB000;
}
.modal-window {
  position: fixed;
  background-color: var(--NB250);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
      background: $NB000;
  }
}

.modal-close {
  color: var(--NB500);
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: var(--NB1000);
  }
}