.cdoPage input {
  position: absolute;  
  opacity: 0;
  margin-top: 80vh;
  cursor: pointer;
  color:white;
}

.cdoPage label {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: solid 2px white;
  border-radius: 999px;
  background-color: transparent;
  margin: 80vh 6px 0 6px;
  z-index: 2;
  cursor: pointer;
  transition-duration: .4s;
}

.cdoPage input:checked + label{
  background-color: white;
}

.cdoPage input:focus + label{
  box-shadow: 0 0 0 2px teal, 0 0 18px white;
}

.cdoPage div.slide {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 20%;
  width: 100%;
  height: 80%;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateX(-100%);
  transition-duration: .4s;
  opacity: 1;
}

.cdoPage input:checked ~ .slide {
  transform: translateX(100%);
}

.cdoPage input:checked + label + .slide {
  transform: translateX(0);
  opacity: 1;
}

.bg1{
  background-image: url(../img/price1.jpeg);
}
.bg2{
  background-image: url(../img/price1a.jpeg);
}
.bg3{
  background-image: url(../img/price1b.jpeg);
}
.bg4{
  background-image: url(../img/price2.jpeg);
}
.bg5{
  background-image: url(../img/price2a.jpeg);
}
.bg6{
  background-image: url(../img/price2b.jpeg);
}
.bg7{
  background-image: url(../img/price3.jpeg);
}
.bg8{
  background-image: url(../img/price3a.jpeg);
}
.bg9{
  background-image: url(../img/price3b.jpeg);
}